@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;700&display=swap');

:root {
  --primary-color: #080808;
  --secondary-color: #151515;
  --accent-color: #6B5B95;
  --light-color: #EAEAEA;
  --text-color: #D1D1D1;
  --hover-color: darkorchid;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  box-sizing: border-box;
}

/* Add any other global styles */